@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background: url("https://images.unsplash.com/photo-1598948208894-ca6c00e2f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nome {
    color: white;
    text-align: center;
    margin: 30px 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

.wallacy-foto {
    width: 180px;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 3px solid rgba(66, 7, 100, 0.774);
}

.dev {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

.sobre-mim {
    margin-top: 15px;
}

.conteudo-principal {
    margin: 15px;
    max-width: 800px;
    background-color: rgba(0%, 0%, 0%, 0.7);
    border-radius: 15px;
    color: white;
    border: 3px solid rgba(66, 7, 100, 0.774);
}

.conteudo {
    display: block;
    margin: 30px;
}

.conteudo p {
    text-align: justify;
    text-indent: 25px;
    font-size: 1.1em;
    line-height: 2em;
}

.conteudo .trabalhos{
    list-style: square;
    list-style-position: inside;
    padding: 20px 10px;
}

em {
    background-color: rgba(66, 7, 100, 0.5);
}

.h3-sociais {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(54, 3, 102, 0.425);
}

.contato {
    margin: 0px 30px 30px 30px;
}

.contato ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
    line-height: 2em;
}

a:hover {
    color: white;
    text-decoration: underline;
}